@page
@model GYM.Pages.CoursePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CoachName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CoachName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.CoachPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.CoachPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.BurnCalories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.BurnCalories)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
